<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property resource="logging.properties" />

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%X{uniqueId}] [%X{apiEndpoint}] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Sifting appender -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>apiLogFileName</key>
            <defaultValue>${logging.default-log-file-name}</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${apiLogFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/${apiLogFileName}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/${apiLogFileName}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>${logging.max-history}</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%X{uniqueId}] [%X{apiEndpoint}] [%logger{36}] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- Root logger -->
    <root level="${logging.root-log-level}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SIFT" />
    </root>

    <!-- Logger for Controller and Service -->
    <logger name="com.mehedi.logging.controller" level="${logging.controller-log-level}"/>
    <logger name="com.mehedi.logging.service" level="${logging.service-log-level}"/>
</configuration>