<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">

    <property resource="logging.properties" />

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%highlight(%-5level)] [%X{uniqueId}] [%X{apiEndpoint}] [%class{0}:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Sifting appender -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>apiLogFileName</key>
            <defaultValue>${logging.default-log-file-name}</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${apiLogFileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${logging.location}/${apiLogFileName}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${logging.location}/archived/${apiLogFileName}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                    <maxFileSize>10MB</maxFileSize>
                    <maxHistory>${logging.max-history}</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%X{uniqueId}] [%X{apiEndpoint}] [%class{0}:%line] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- Root logger -->
    <root level="${logging.root-log-level}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SIFT" />
    </root>
</configuration>